#wrapper {
    width: 960px;
    border: 4px solid #003399;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: black;
  }
  header {
    grid-column: span 12;
    font-family: 'Courier New', Courier, monospace;
    color: gold;
  }
  h1{
    text-align: center;
  }


  #Photos{
    grid-column-start: span 12;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}
#Photos img{
    height: 400px;
    width: 350px;
    
}

h2{
    text-align: center;
    color:  gold;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    color: goldenrod;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
  main img{
    width: 250px;
    float: left;
    margin-right: 20px;
  }
  main {
    grid-column: span 3;
    margin-left: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: grey;
  }
  #gridBottom {
    grid-column-start: span 12;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    text-align: center;
}