@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dhurjati&family=Tilt+Prism&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Abril Fatface', serif;
    font-family: 'Dhurjati', sans-serif;
    font-family: 'Tilt Prism', sans-serif;
    overflow: hidden;
    min-width: 350px;
    background-color: #000000;

}
footer{
    background-color: #000000;
}
main{
    background-color: #000000;
    background: rgb(5,5,5);
background: linear-gradient(90deg, rgba(5,5,5,1) 0%, rgba(68,71,71,1) 32%, rgba(141,148,148,1) 64%, rgba(0,0,0,0) 100%);
}


video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;

}

.mainnav .active {

    color: aquamarine !important;
}

.mainnav .active::after {

    content: '';
    background-color: aquamarine;
    height: 2px;
    display: block;
    margin-top: 5px;
}

.mainnav .navbar-brand {

    font-size: large;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: white;
    text-align: center;

}

.title h1 {
    font-weight: 600;
    font-size: 6rem;
    text-transform: uppercase;
    display: block;
}

.title h2 {
    font-weight: 350;
    font-size: 1.75rem;
    text-transform: uppercase;
    line-height: 1;
}

.title h3 {
    font-weight: 400;
    font-size: 1.75rem;
    text-transform: uppercase;
    line-height: 1;
    display: block;

}

.description {
    position: absolute;
    bottom: 2%;
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    color: black;
    opacity: 0.5;
    padding: 1.6rem;
}

.description p {
    text-align: justify;
    max-width: 42rem;
    margin-inline: auto;
    line-height: 1.5;
}

@media screen and (max-width: 1200px) {
    .description {
        position: absolute;
        width: 91vw;
        bottom: 0;
        border-radius: 20px 20px 0 0;
        margin: auto;
        padding: 0.6rem 1.5rem;
    }

}

.container {
    --bs-gutter-x: 0 !important;
    margin-left: 0 !important;
    z-index: 0;
}




.hero-area {

    background-color: black;
    background: rgb(5,5,5);
background: linear-gradient(90deg, rgba(5,5,5,1) 0%, rgba(68,71,71,1) 32%, rgba(141,148,148,1) 64%, rgba(0,0,0,0) 100%);
    
    min-height: 350px;
    position: relative;
    background-position: 25% 50%;
    background-size: 100%;



}

.heronav .active {

    color: aquamarine !important;
    background-color: transparent !important;
}

.heronav .active::after {

    content: '';
    background-color: aquamarine;
    height: 2px;
    display: block;
    margin-top: 5px;
}

.heronav .navbar-brand {

    font-size: large;
}

.song-small {
    background-color: #339999;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(47, 141, 144, 1) 32%, rgba(51, 153, 153, 1) 64%, rgba(0, 212, 255, 0) 100%);
    opacity: 85%;
    transition: all 0.4s ease;
}

.song-small:hover {

    border: solid thin grey;
    cursor: pointer;
    transform: translateY(-6px);
}

.song-small-img {
    width: 50px;
    height: 50px;
    object-fit: cover
}

.album-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all 0.4s ease;
}

.album-img:hover{
    order: solid thin grey;
    cursor: pointer;
    transform: translateY(-15px);

}



.a-e-title::after{
    content: '';
    background-color: aquamarine;
    height: 1.5px;
    display: block;
    margin-top:10px;
    margin-bottom: 5px;
}

.a-e-title{
    color:aquamarine;
}

.social-icons{
    color:aquamarine;
    transition: all 0.4s ease;
    text-decoration: none;
    margin: 100px 10px;
    font-size: 40px;
    

}

.social-icons:hover{
    color: grey;
    order: solid thin grey;
    cursor: pointer;
    transform: translateY(-15px);
}